@charset "UTF-8";
*{
    margin:0px;
    padding: 0px;
}
html,body{
    background-color: darkgrey;
    min-height: 100vh;
   
}
header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2.em;
    font-weight: bold;
    
    
}
section.normal{
    background-color: white;
    color black;
}
section.imagem{
    background-color: black;
    color: white;
}
section.imagem>p{
    background-color: white;
    color:rgba(0, 0, 0, 0.388);
    width: 400px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}

}